* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family: 'Courier New', monospace;
    --dark-grey:  #19161c;
    --light-purple:  #cabad9;
    --light-purple-two: #d6b5f7;
    --bright-purple:  #8c12ff;
    --vibrant-purple: #550b9c;
    --superdark: #07010d;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #c8bed1;
}

h2 {
    display: flex;
    text-align: center;
    font-size: clamp(30px, 12px + .8vw, 50px);
    color: var(--light-purple-two);
}

h3 {
    display: flex;
    text-align: center;
    font-size: clamp(24px, 12px + .6vw, 50px);
    color: var(--light-purple);
}  

h4 {
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    text-align: center;
    font-size: clamp(18px, 12px + .4vw, 50px);
    color: var(--light-purple);
    font-style: italic;
}

button {
    display: flex;
    height: 90%;
    background-color: #00000000;
    max-width: 30%;
    aspect-ratio: 1/1 !important;        
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
    border: 0;
    margin: 30px;
    color: var(--light-purple);
}

button:hover {
    cursor: pointer;
    background-color: #ffffff08;
    box-shadow: 0 0 10px black;
    color: #b88ae6;

}

audio {
    display: flex;
    margin: 0 auto;
    height: 4vh;
}

#song--holder {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: var(--superdark);
    width: 60vw;
    margin-left: 20vw;
    height: 60vh;
    margin-top: 5vh;
    justify-content: space-around;
    min-height: 800px;
    min-width: 600px;
    max-height: 30vw;

}

#display--holder {
    display: flex;
    flex-direction: row-reverse;
    width: 98%;
    height: 98%;
    margin: 1%;
    background-color: var(--dark-grey);
    min-height: 250px;
    max-height: 12vw;
}

#song--image {
    display: flex;
    background-color: #00000000;
    aspect-ratio: 1/1;
    min-height: 250px;
    min-width: 250px;
    justify-content: center;
}

#song--list {
    display: flex;
    flex: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    width: 80%;
}

#controls--holder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 98%;
    height: 98%;
    margin: 1%;
    background-color: var(--dark-grey);
    min-height: 250px;
    max-height: 15vw;
}

#button--holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    margin: 40px;
    align-items: center;
}

#juke {
    visibility: hidden;
}        