#square {
	background-color: #000;
	width: 400px;
	height: 400px;
	position: absolute;
	left: 50px;
	top: 50px;
}

#panel {
	position: absolute;
	bottom: 10px;
	width: 20%;
	left: 40%;
}

button {
	padding: 10px;
	margin: 10px;
	width: 100%;
}