html {
	font-size: 20px;
}

#central {
	font-size: 30rem;
	width: 15rem;
	height: 15rem;
	background-image: url('../images/basic--box--icon.png');
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 96px;
	background-size: 100%;
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	border-radius: 50%;
}

a:hover {
	border: 15px solid black;
}


