@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&display=swap');
* {
	padding: 0;
	margin: 0;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

#toprow {
	height: 93vh;
	background-color: blue;
	display: flex;
	flex-direction: row;
	min-width: 1200px;

}

#topbar {
	height: 7vh;
	background-color: #221d2b;
	display: flex;
	color: #5500ed;
	align-items:center;
    justify-content:center;
}

#topbar-text {
	margin-left: 50px;
	font-size: clamp(1.5rem, 3vw, 3rem); 
	font-family: 'Righteous', cursive;

}

#column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.top-left-home {
	background-color: #140f1c;
}

.top-middle-home {
	background-color: #140f1c;
}

.top-right-home {
	background-color: #140f1c;
}

#bottomrow {
	height: 100vh;
	background-color: #140f1c;
	display: flex;
	flex-direction: row;
	min-width: 1200px;
}

.bottom-left-home {
	background-color: #140f1c;
}

.bottom-middle-home {
	background-color: #140f1c;
}

.bottom-right-home {
	background-color: #140f1c;
}

.holder {
	background-color: grey;
	height: 100%;
	width: 90%;
	margin: 5%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	border-radius: 10px;

}

#tile-one {
	color: #604094;
  font-size: clamp(12px, 3vw, 3rem); 
  text-align: center;
  padding: 10px;
  font-family: 'Righteous', cursive;
}

#tile-two {
	color: #604094;
  font-size: clamp(12px, 3vw, 3rem); 
  text-align: center;
  padding: 10px;
}

#tile-three {
	color: #604094;
  font-size: clamp(12px, 3vw, 3rem); 
  text-align: center;
  padding: 10px;
}

#tile-four {
	color: #604094;
  font-size: clamp(12px, 3vw, 2.5rem); 
  text-align: center;
  padding: 10px;
}

#tile-five {
	color: #604094;
  font-size: clamp(12px, 3vw, 3rem); 
  text-align: center;
  padding: 10px;
}

#tile-five img { 
	width: auto;
  height: auto;
  max-width: 12vw;
}

#tile-six {
	color: #604094;
  font-size: clamp(12px, 2vw, 2.5rem); 
  text-align: center;
}

#tile-six p {  
	padding: 45px;
}

.searchField {
	transition:.3s;
	border-radius: 5px;
	font-size: 2vw;
	height: 50px;
	text-align: center;
	font-family: 'Righteous', cursive;
	display: flex;
}

.searchField:focus {
	 border-color:dodgerBlue;
   box-shadow:0 0 8px 0 dodgerBlue;
}

.theSearchButton {
	background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: darkblue;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.cursive {
	font-family: 'Righteous', cursive;
}

.welcome {
	font-size: 2vw;
	margin: 10px;
	text-align: center;
	color: #604094;
}