body {
	overflow: hidden;
	margin: 0;
}

button {
	max-height: 45px;
	font-size: 25px;
	border-radius: 10px;
	background-color: #18151a;
	margin: 10px;
	color: #a381b8;
}

button:hover {
	box-shadow: 0px 0px 15px black;
	cursor: pointer;
	background-color: #a208ff;
}

h1 {
	font-size: 50px;
	color: #a381b8;
	padding: 0;
	margin: 0;
	text-align: center;
}

h2 {
	font-size: 40px;
	height: 40px;
	padding: 20px;
	text-align: center;
}
.holder {
	display: flex;
	flex-direction: column;
}

.top--holder {
	width: 100%;
	flex-basis: 15%;
}

.top--section {
	background-color: #2c103d;
	height: 15vh;
	width: 100%;
}

.main--holder {
	width: 100%;
	flex-basis: 60%;
}

.main--section {
	background-color: #6f3f8c;
	height: 75vh;
	width: 100%;
}

.footer--holder {
	width: 100%;
	flex-basis:  25%;
}

.footer--section {
	background-color: #0f0217;
	height: 10vh;
	width: 100%;
}	

.flex--holder {
	margin: 0;
	width: 100vw;
	display: flex;
	flex-flow: row wrap;
  	justify-content: space-around;
}

.column {
	width: 23%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex--item {
	width: 100%;
	text-align: center;
}

.flex--item img {
	height: 50%;
	width: 50%;
	border-radius: 25px;
}
